{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="container border border-success rounded my-5">
	<div class="row">
		<!-- Sidebar -->
		{% include 'app/base-sidebar.html' %}
		<!-- Sidebar -->
		<!-- Content -->
		<div class="col-md-9 px-3">
			<p class="pt-3 fs-4">{{ sidebarTitile }}</p>
			<hr>
			<div class="col-sm-12">
				<form method="POST" id="formSave" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-12 mt-3">
							<label class="form-label">Lesson Title</label>
							<input type="text" class="form-control" name="lessonTitle"
								value="{{ lesson.lessonTitle }}" />
						</div>
						{% if video %}
						<label class="form-label mt-3 mb-0">Lesson</label>
							{% for v in video %}
							<div class="col-sm-6 mt-2">
								{{ v.videoTitle}}
							</div>
							<div class="col-sm-6 mt-2">
									<a href="{% url 'edit-vdo' cid v.id %}" class="btn btn-primary">Edit</a>
							</div>
							{% endfor %}
						{% endif %}
						<div class="row mt-3 pr-0">
							<div id="videoTitle-input" class="col-sm-6">
								<label class="form-label">Video Title</label>
								<input type="text" class="form-control" name="videoTitle" id="videoTitle">
							</div>
							<div id="video-input" class="col-sm-6 pr-0">
								<label class="form-label">Video</label>
								<input type="file" class="form-control" name="video" id="video" accept="video/*">
							</div>
						</div>
						<div class="d-flex justify-content-end my-3">
							<button class="btn btn-secondary" type="button" onclick="addVdo()">Add More Video</button>
						</div>

						{% if homework %}
						<label class="form-label mt-3 mb-0">Homework</label>
							{% for h in homework %}
							<div class="col-sm-6 mt-2">
								{{ h.homeworkTitle}}
							</div>
							<div class="col-sm-6 mt-2">
								<a href="" class="btn btn-primary">Edit</a>
							</div>
							{% endfor %}
						{% endif %}

						<div class="row mt-3 pr-0">
							<div id="homeworkTitle-input" class="col-sm-6">
								<label class="form-label">Homework Title</label>
								<input type="text" class="form-control" name="homeworkTitle" id="homeworkTitle">
							</div>
							<div id="homework-input" class="col-sm-6 pr-0">
								<label class="form-label">Homework</label>
								<input type="file" class="form-control" name="homework" id="homework">
							</div>
						</div>
						<div class="d-flex justify-content-end my-3">
							<button class="btn btn-secondary" type="button" onclick="addHomework()">Add More Homework</button>
						</div>

						<div class="d-flex justify-content-between my-3">
							<a class="btn btn-success" href="/edit-course/{{ lesson.course_id }}">Back</a>
							<button class="btn btn-success" type="submit">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- Content -->
	</div>
</div>

<script src="{% static "js/addVdo.js" %}"></script>
<script src="{% static "js/addHomework.js" %}"></script>
<script src="{% static "js/ckeditor.js" %}"></script>

{% endblock content%}