<!-- Sidebar -->
	<div class="col-md-3 px-0">
		<div class="sidebar d-flex flex-column py-3 mx-0 bg-light h-100 text-center">
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a href="/profile/{{ user.username }}" class="underline nav-link {{ profileActive }}" aria-current="page">ข้อมูลส่วนตัว</a>
				</li>
				{% if user.is_authenticated and user.profile.userType == 'student' or user.profile.userType == 'teacher' %}
				{% if currentUser == url %}
				<li>
					<a href="/profile/{{ user.username }}/course" class="underline nav-link {{ mycourseActive }}">คอร์สของฉัน</a>
				</li>
				{% endif %}
				{% endif %}
				{% if user.is_authenticated and user.profile.userType == 'admin' or user.profile.userType == 'teacher' and currentUser == url %}
				<li>
					<a href="/course-management" class="underline nav-link {{ courseMgmtActive }}">จัดการคอร์สเรียน</a>
				</li>
				{% endif %}
				{% if user.is_authenticated and user.profile.userType == 'admin' or user.profile.userType == 'teacher' and currentUser == url %}
				<li>
					<a href="/course-detail/{{ user.username }}" class="underline nav-link {{ courseDetailActive }}">รายละเอียดคอร์สเรียน</a>
				</li>
				{% endif %}
				{% if user.is_authenticated and user.profile.userType == 'admin' %}
				<li>
					<a href="/teacher" class="underline nav-link {{ teacherActive }}">อาจารย์</a>
				</li>
				<li>
					<a href="/member" class="underline nav-link {{ memberActive }}">สมาชิก</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
<!-- Sidebar -->