{% extends 'app/base.html' %}
{% block content %}

<div class="container border border-success rounded my-5">
    <div class="row">
        <!-- Sidebar -->
        {% include 'app/base-sidebar.html' %}
        <!-- Sidebar -->
        <!-- Content -->
        <div class="col-md-9 px-3">
            <p class="pt-3 fs-4">{{ sidebarTitile }}</p>
            <hr>
            <div class="row">
				<div class="table-responsive p-3">
					<table class="table table-borderless course-table" style="font-size: 16px;">
						<thead>
						  <tr>
							<th scope="col">คอร์ส</th>
							<th scope="col">ชื่อผู้ใช้</th>
							<th scope="col">ความคืบหน้า</th>
							<th scope="col">แบบฝึกหัด</th>
						  </tr>
						</thead>
						<tbody style="font-size: 15px;">
							{% for mc in myCourse %}
						  <tr>
							<td>{{ mc.course }}</td>
							<td>{{ mc.user }}</td>
							<td>{{ mc.progress }}%</td>
							<td><a href="/course-detail/{{ mc.user.username }}/{{ mc.course_id }}" class="btn btn-success btn-sm">รายละเอียด</a></td>
						  </tr>
						  {% endfor %}
						</tbody>
					  </table>
				</div>
            </div>
        </div>
        <!-- Content -->
    </div>
</div>

{% endblock %}