{% extends 'app/base.html' %}
{% block content %}

<div class="container border border-success rounded my-5">
	<div class="row">
		<!-- Sidebar -->
		{% include 'app/base-sidebar.html' %}
		<!-- Sidebar -->
		<!-- Content -->
		<div class="col-md-9 px-3">
			<p class="pt-3 fs-4">{{ sidebarTitile }}</p>
			<hr>
			<div class="row">
				<div class="table-responsive p-3">
					<table class="table table-borderless course-table" style="font-size: 16px;">
						<thead>
							<tr>
								<th scope="col">คอร์ส</th>
								<th scope="col">ชื่อผู้ใช้</th>
								<th scope="col">บทเรียน</th>
								<th scope="col">แบบฝึกหัด</th>
								<th scope="col">คะแนน (%)</th>
								<th scope="col">สถานะ</th>
							</tr>
						</thead>
						<tbody style="font-size: 15px;">
							{% if not data %}

							{% for mc in myCourse %}
							{% for l in lesson %}
							<tr>
								<td>{{ mc.course }}</td>
								<td>{{ mc.user }}</td>
								<td>{{ l.lessonTitle }}</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							{% endfor %}
							{% endfor %}

							{% else %}

							{% for mc in myCourse %}
							{% for a,b in data.reverse %}
							{% if data %}
							<tr>
								<td>{{ mc.course }}</td>
								<td>{{ mc.user }}</td>
								<td>{{ a.lessonTitle }}</td>
								<td>{{ b.0.quiz }}</td>
								<td>{{ b.0.score }}</td>
								{% if b.0.done %}
									{% if b.0.passed %}
									<td>ผ่าน</td>
									{% else %}
									<td>ไม่ผ่าน</td>
									{% endif %}
								{% else %}
								<td></td>
								{% endif %}
							</tr>
							{% endif %}
							{% endfor %}
							{% endfor %}

							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Content -->
	</div>
</div>

{% endblock %}