{% extends 'app/base.html' %}
{% block content %}

<div class="container border border-success rounded my-5">
	<div class="main-body">
		<div class="row">
			<!-- Sidebar -->
			{% include 'app/base-sidebar.html' %}
			<!-- Sidebar -->
			<!-- Content -->
			<div class="col-md-9 px-3">
				<div class="d-flex justify-content-between align-items-center pt-3">
					<p class="m-0 fs-4">{{ sidebarTitile }}</p>
					<a href="/add-course" class="btn btn-success"><i class="fas fa-plus"></i> เพิ่มคอร์สเรียน</a>
				</div>
				<hr>
				<div class="row pb-3">
					{% for c in course %}
					<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 p-2">
						<div class="card">
							<a href="{% url 'course' c.id %}"><img src="{{ c.courseThumbnail.url }}"
									class="imgThumbnail card-img-top" style="height: 200px;"></a>
							<div class="card-body">
								<h6 class="card-title truncate"><a class="underline" href="{% url 'course' c.id %}">{{ c.courseTitle }}</a></h6>
								<h6 class="card-subtitle mb-2 text-muted">{{ c.get_courseMajor_display }}</h6>
								<div class="text-left">
									{% if user.profile.userType == 'admin' %}
									<a href="{% url 'updateCourseStatus' c.id 'active' %}"
										class="btn btn-success btn-sm">อนุมัติ</a>
									<a href="{% url 'updateCourseStatus' c.id 'inactive' %}"
										class="btn btn-danger btn-sm">ไม่อนุมัติ</a>
									{% endif %}
									{% if c.createBy == user.profile %}
									<a href="/edit-course/{{ c.id }}" class="btn btn-primary btn-sm">แก้ไข</a>
									{% endif %}
								</div>
							</div>
							<div class="card-footer text-muted">
								{% if c.active == True %}
								สถานะ : <i class="far fa-check-circle text-success"></i>
								{% else %}
								สถานะ : <i class="far fa-times-circle text-danger"></i>
								{% endif %}
								<br>
								เวลาที่อัปเดต : {{ c.updateDate }}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- Content -->
		</div>
	</div>
</div>

{% endblock content %}