{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="container border border-success rounded my-5">
	<div class="row">
		<!-- Sidebar -->
		{% include 'app/base-sidebar.html' %}
		<!-- Sidebar -->
		<!-- Content -->
		<div class="col-md-9 px-3">
			<p class="pt-3 fs-4">{{ sidebarTitile }}</p> 
			<hr>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'edit-course' cid %}">จัดการคอร์สเรียน</a></li>
					<li class="breadcrumb-item"><a href="{% url 'edit-lesson' cid lid %}">จัดการบทเรียน</a></li>
				  	<li class="breadcrumb-item"><a class="latest" href="{% url 'edit-vdo' cid vid %}">แก้ไขวิดีโอ</a></li>
				</ol>
			</nav>
			<div class="col-sm-12">
				<form method="POST" id="formSave" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						{% for v in video %}
						<div class="col-sm-12 mt-3">
							<p class="form-label">วิดีโอ :</p>
							{% if v.video %}
							<video id="vdo-preview-{{ v.id }}" width="100%" controls>
								<source src="{{ v.video.url }}">
							</video>
							{% else %}
							<iframe width="100%" height="502" src="https://www.youtube.com/embed/{{ v.videoUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							{% endif %}
						</div>
						<div id="video-type" class="col-sm-3 pr-0">
							<label class="form-label">ประเภท</label>
							<select class="video-type-1 form-select" onchange="selectElement(1)">
								<option value=1>ไฟล์</option>
								<option value=2>URL</option>
							</select>
						</div>
						<div id="video-input" class="col-sm-9">
							<label class="form-label">วิดีโอ</label>
							<input type="file" class="video-file-1 form-control" name="video" id="file-ip-1" accept="video/*" onchange="vdoPreview_{{ v.id }}(event);">
							<input type="text" class="video-url-1 form-control" name="videoUrl" style="display: none;">
						</div>
						<div class="col-sm-12 mt-3">
							<label class="form-label">ชื่อวิดีโอ :</label>
							<input type="text" class="form-control" name="videoTitle"
								value="{{ v.videoTitle }}" />
						</div>
						<input type="hidden" name="next" value="{{ request.path }}">
						<div class="d-flex justify-content-between my-3">
							<a class="btn btn-success" href="{% url 'edit-lesson' cid v.lesson_id %}">ย้อนกลับ</a>
							<button class="btn btn-success" type="submit">บันทึก</button>
						</div>
					</div>
					{% endfor %}
				</form>
			</div>
		</div>
		<!-- Content -->
	</div>
</div>

{% for v in video %}
<script>
	function vdoPreview_{{ v.id }} (event){
	if(event.target.files.length > 0){
	  var src = URL.createObjectURL(event.target.files[0]);
	  var preview = document.getElementById("vdo-preview-{{ v.id }}");
	  preview.src = src;
	  preview.style.display = "block";
	}
  }
</script>
{% endfor %}

<script src="{% static "js/addVdo.js" %}"></script>
<script src="{% static "js/uploadType.js" %}"></script>

{% endblock content%}