{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="container border border-success rounded my-5">
	<div class="row">
		<!-- Sidebar -->
		{% include 'app/base-sidebar.html' %}
		<!-- Sidebar -->
		<!-- Content -->
		<div class="col-md-9 px-3">
			<p class="pt-3 fs-4">{{ sidebarTitile }}</p>
			<hr>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'edit-course' cid %}">จัดการคอร์สเรียน</a></li>
					<li class="breadcrumb-item"><a href="{% url 'edit-lesson' cid lid %}">จัดการบทเรียน</a></li>
				  	<li class="breadcrumb-item"><a href="{% url 'edit-quiz' cid quizID %}">จัดการแบบฝึกหัด</a></li>
				  	<li class="breadcrumb-item"><a class="latest" href="{% url 'edit-question' cid qid %}">แก้ไขคำถาม</a></li>
				</ol>
			</nav>
			<div class="col-sm-12">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row pr-0">
						<div class="col-sm-12 pr-0 mt-3">
							<label class="form-label mb-2">คำถาม</label>
							<input class="form-control mb-2" type="text" name="question" value="{{ answer.0 }}">
						</div>

						<label class="form-label mb-2 mt-3">คำตอบ</label>
						{% for a in answer %}
							<div class="col-sm-8 my-2">
								<input type="hidden" name="answerId" value="{{ a.id }}">
								<input type="text" class="form-control" name="answer" value="{{ a.text }}">
							</div>
							<div class="col-sm-4 px-3 d-flex justify-content-between align-items-center">
								<div class="pl-3">
									{% if a.correct == True %}
									<input class="form-check-input" type="checkbox" name="correct" value="on" checked>
									{% else %}
									<input class="form-check-input" type="checkbox" name="correct" value="on">
									{% endif %}
									<label class="form-label m-0 pl-2">ถูก</label>
								</div>
								<div>
									{% if a.correct == False %}
									<input class="form-check-input" type="checkbox" name="correct" value="off" checked>
									{% else %}
									<input class="form-check-input" type="checkbox" name="correct" value="off">
									{% endif %}
									<label class="form-label m-0 pl-2">ผิด</label>
								</div>
							</div>
						{% endfor %}
						<div class="d-flex justify-content-between my-3">
							<a class="btn btn-success" href="{% url 'edit-quiz' cid quizID %}">ย้อนกลับ</a>
							<button class="btn btn-success" type="submit">บันทึกคำถาม</button>
						</div>
					</div>
				</form>
				
			</div>
		</div>
		<!-- Content -->
	</div>
</div>

<script src="{% static "js/addAnswer.js" %}"></script>

{% endblock content%}