{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="container border border-success rounded my-5">
	<div class="row">
		<!-- Sidebar -->
		{% include 'app/base-sidebar.html' %}
		<!-- Sidebar -->
		<!-- Content -->
		<div class="col-md-9 px-3">
			<p class="pt-3 fs-4">{{ sidebarTitile }}</p>
			<hr>
			<div class="col-sm-12">
				<form method="POST" id="formSave" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-12 mt-3">
							<p class="form-label">Course Thumbnail</p>
							<img class="preview imgThumbnail" id="file-ip-1-preview"
								src="{{ course.courseThumbnail.url }}" width="100%" height="450px">
						</div>
						<div class="input-group mt-3">
							<input type="file" class="form-control" name="thumbnailImg" id="file-ip-1" accept="image/*"
								onchange="showPreview(event);">
							<label class="input-group-text" for="thumbnailImg">Thumbnail</label>
						</div>
						<div class="col-sm-12 mt-3">
							<label class="form-label">Course Title</label>
							<input type="text" class="form-control" name="courseTitle"
								value="{{ course.courseTitle }}" />
						</div>
						<div class="col-sm-12 mt-3">
							<label class="form-label">Course Description</label>
							<textarea id="editor" class="form-control" rows="5" id="courseDesc"
								name="courseDesc">{{ course.courseDesc }}</textarea>
						</div>
						<div class="col-sm-6 mt-3">
							<label class="form-label">Course Major</label>
							<select class="form-select" name="courseMajor" required>
								<option selected value="{{ course.courseMajor }}">{{ course.courseMajor }}</option>
								<option value="Digital Media Technology">Digital Media Technology</option>
								<option value="Game Development">Game Development</option>
								<option value="Medical Media Innovation">Medical Media Innovation</option>
								<option value="Media Technology">Media Technology</option>
							</select>
						</div>
						<div class="col-sm-3 mt-3">
							<label class="form-label">Course Year</label>
							<select class="form-select" name="courseYear" required>
								<option selected value="{{ course.courseYear }}">{{ course.courseYear | capfirst }}</option>
								<option value=1>1</option>
								<option value=2>2</option>
								<option value=3>3</option>
								<option value=4>4</option>
							</select>
						</div>
						<div class="col-sm-3 mt-3">
							<label class="form-label">Course Hours</label>
							<input type="text" class="form-control" name="courseHours" value="{{ course.courseHours }}">
						</div>
						<label class="form-label my-3">Lesson</label>
						{% for l in lesson|dictsort:"id" %}
						<div class="col-sm-6 mt-2">
							{{ l.lessonTitle}}  (id : {{l.id}})
						</div>
						<div class="col-sm-6 mt-2">
							<a href="edit-lesson/{{l.id}}/" class="btn btn-primary">Edit</a>
							<a href="delete-lesson/{{l.id}}/" class="btn btn-danger">Delete</a>
						</div>
						{% endfor %}

						<div id="lesson-input">
							<label id="lessonLabel" class="form-label" style="display: none;">Lesson Title</label>
						</div>
						
						<div class="d-flex justify-content-end my-3">
							<button class="btn btn-secondary" type="button" onclick="addLesson()">Add More Lesson</button>
						</div>
						<div class="d-flex justify-content-between my-3">
							<a class="btn btn-success" href="/course-management">Back</a>
							<button class="btn btn-success" type="submit">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- Content -->
	</div>
</div>

<script src="{% static "js/imagePreview.js" %}"></script>
<script src="{% static "js/ckeditor.js" %}"></script>
<script src="{% static "js/addLesson.js" %}"></script>

{% endblock content%}