{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="container border border-success rounded my-5">
	<div class="row">
		<!-- Sidebar -->
		{% include 'app/base-sidebar.html' %}
		<!-- Sidebar -->
		<!-- Content -->
		<div class="col-md-9 px-3">
			<p class="pt-3 fs-4">{{ sidebarTitile }}</p>
			<hr>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'edit-course' cid %}">จัดการคอร์สเรียน</a></li>
					<li class="breadcrumb-item"><a href="{% url 'edit-lesson' cid lid %}">จัดการบทเรียน</a></li>
				  	<li class="breadcrumb-item"><a class="latest" href="{% url 'edit-quiz' cid qid %}">จัดการแบบฝึกหัด</a></li>
				</ol>
			</nav>
			<div class="col-sm-12">
				<form method="POST" id="formSave" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="row mt-3 pr-0">
							{% for q in quiz %}
							<div id="homeworkTitle-input" class="col-sm-12 pr-0 mt-3">
								<label class="form-label">ชื่อแบบฝึกหัด</label>
								<input type="text" class="form-control" name="quizTitle" id="quizTitle" value="{{ q.name }}">
							</div>
							<div id="homeworkTitle-input" class="col-sm-12 pr-0 mt-3">
								<label class="form-label">หัวข้อแบบฝึกหัด</label>
								<input type="text" class="form-control" name="quizTopic" id="quizTopic" value="{{ q.topic }}">
							</div>
							<div id="homeworkTitle-input" class="col-sm-6 pr-0 mt-3">
								<label class="form-label">จำนวนคำถาม</label>
								<input type="text" class="form-control" name="numQuestions" id="numQuestions" value="{{ q.numberOfQuestions }}">
							</div>
							<div id="homeworkTitle-input" class="col-sm-6 pr-0 mt-3">
								<label class="form-label">เวลาที่จำกัด</label>
								<input type="text" class="form-control" name="quizTime" id="quizTime" placeholder="Duration of the quiz in minutes" value="{{ q.time }}">
							</div>
							<div id="homeworkTitle-input" class="col-sm-6 pr-0 mt-3">
								<label class="form-label">เกณฑ์การผ่าน</label>
								<input type="text" class="form-control" name="requiredScore" id="requiredScore" placeholder="Required score in %" value="{{ q.requiredScore }}%">
							</div>
							<div id="homeworkTitle-input" class="col-sm-6 pr-0 mt-3">
								<label class="form-label">ระดับความยาก</label>
								<select class="form-select" name="difficulty">
									<option selected value="{{ q.difficulty }}">{{ q.difficulty }}</option>
									<option value="ง่าย">ง่าย</option>
									<option value="ปานกลาง">ปานกลาง</option>
									<option value="ยาก">ยาก</option>
								</select>
							</div>
							{% endfor %}
						</div>
						<div class="d-flex justify-content-end my-3">
							<button class="btn btn-success" type="submit">บันทึกแบบฝึกหัด</button>
						</div>

						{% if question %}
							{% for q in question %}
								<div class="col-sm-6 mt-2">
									{{ q.text }}
								</div>
								<div class="col-sm-6 mt-2">
									<a href="{% url 'edit-question' cid q.id %}" class="btn btn-primary">แก้ไขคำถาม</a>
									<a href="{% url 'delete-question' cid q.id %}" class="btn btn-danger">ลบ</a>
								</div>
							{% endfor %}
						{% endif %}

						{% for q in quiz %}
						<div class="col-sm-12 mt-3">
							<p class="form-label">คำถาม :</p>
							<input type="text" class="form-control" name="question">
						</div>
						<label class="form-label mt-3">คำตอบ :</label>
						<div id="answer-container">
							<div class="answer d-flex justify-content-between align-items-center">
								<div class="col-sm-8 pl-0">
									<input type="text" class="form-control" name="answer">
								</div>
								<div class="col-sm-4 d-flex justify-content-between align-items-center">
									<div class="pl-3">
										<input class="form-check-input" type="checkbox" name="correct" value="on">
										<label class="form-label m-0 pl-2">ถูก</label>
									</div>
									<div>
										<input class="form-check-input" type="checkbox" name="correct" value="off">
										<label class="form-label m-0 pl-2">ผิด</label>
									</div>
								</div>
							</div>
							<div class="answer d-flex justify-content-between align-items-center mt-3">
								<div class="col-sm-8 pl-0">
									<input type="text" class="form-control" name="answer">
								</div>
								<div class="col-sm-4 d-flex justify-content-between align-items-center">
									<div class="pl-3">
										<input class="form-check-input" type="checkbox" name="correct" value="on">
										<label class="form-label m-0 pl-2">ถูก</label>
									</div>
									<div>
										<input class="form-check-input" type="checkbox" name="correct" value="off">
										<label class="form-label m-0 pl-2">ผิด</label>
									</div>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-end my-3">
							<button class="btn btn-secondary" type="button" onclick="addAnswer()">เพิ่มคำตอบ</button>
						</div>
						<div class="d-flex justify-content-end mb-3">
							<button class="btn btn-success" type="submit">บันทึกคำถาม</button>
						</div>
						<input type="hidden" name="next" value="{{ request.path }}">
						<div class="d-flex justify-content-between my-3">
							<a class="btn btn-success" href="{% url 'edit-lesson' cid q.lesson_id %}">ย้อนกลับ</a>
							<button class="btn btn-success" type="submit">บันทึก</button>
						</div>
						{% endfor %}
					</div>
				</form>
			</div>
		</div>
		<!-- Content -->
	</div>
</div>

<script src="{% static "js/addAnswer.js" %}"></script>

{% endblock content%}