{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div>
		<p class="title display-1 text-center">MEDIA TECHNOLOGY</p>
		<div class="text-center">
			<span>แพลตฟอร์มการเรียนการสอนออนไลน์สำหรับนักศึกษาเทคโนโลยีมีเดียครบทุกทักษะที่จำเป็นในการทำงาน</span>
			<br>
			<span>ผ่านการเรียนการสอนรูปแบบคอร์สออนไลน์หรือเวิร์คชอป</span>
		</div>
		<div class="input-group mt-5">
			<input type="text" class="form-control" placeholder="Search">
			<button class="btn btn-success" type="button">Search</button>
		</div>
	</div>

	<div class="mt-5">
		<p class="display-4 text-center">เว็บไซต์ที่สร้างมาเพื่อการเรียนรู้โดยเฉพาะ</p>
		<p class="text-center">
			เว็บไซต์คอร์สเรียนของเราเป็นแพลตฟอร์มเรียนรู้ทักษะรูปแบบใหม่ที่ต้องการเพิ่มศักยภาพการเรียนของนักศึกษาภาควิชาเทคโนโลยีมิเดียทุกระดับชั้นปี
		</p>
		<div class="d-flex justify-content-center text-center mt-5">
			<div>
				<i class="icon1 fas fa-book-open"></i>
				<p>สื่อการเรียนสุด Exclusive</p>
			</div>
			<div>
				<i class="icon1 fas fa-laptop"></i>
				<p>การเรียนรูปแบบใหม่ที่จะพัฒนาศักยภาพของนักศึกษา</p>
			</div>
			<div>
				<i class="icon1 fas fa-book-open"></i>
				<p>แบบฝึกหัดทบทวนการเรียนเพิ่มความเข้าใจ</p>
			</div>
			<div>
				<i class="icon1 fas fa-laptop"></i>
				<p>ดูรูปแบบการสอนเลือกเรียนกับคนที่ถูกใจ</p>
			</div>
		</div>

		<div class="course mt-5">
			<div class="container">
				<!-- Portfolio Section Heading-->
				<h2 class="text-center text-uppercase mb-0">Course</h2>
				<!-- Course Grid Items-->
				<div class="row justify-content-center">
					{% for c in allCourse %}
					{% if c.active %}
					<!-- Course Item -->
					<div class="col-md-6 col-lg-4 p-3">
						<div class="mx-auto">
							<img src="{{ c.courseThumbnail.url }}" class="imgThumbnail img-fluid rounded"
								style="height: 280px;">
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center mt-5">
			<a href="{% url 'online-course' %}" class="btn btn-success">ดูคอร์สเรียนทั้งหมด</a>
		</div>
	</div>
</div>
{% endblock content %}