{% extends 'app/base.html' %}
{% block content %}

<div class="container border border-success rounded my-5">
	<div class="main-body">
		<div class="row">
			<!-- Sidebar -->
			{% include 'app/base-sidebar.html' %}
			<!-- Sidebar -->
			<!-- Content -->
			<div class="col-md-9 px-3">
				<p class="pt-3 fs-4">{{ sidebarTitile }}</p>
				<hr>
				<div class="table-responsive p-3">
					<table class="table table-borderless course-table" style="font-size: 16px;">
						<thead>
						  <tr>
							<th scope="col">รูปภาพ</th>
							<th scope="col">ชื่อผู้ใช้</th>
							<th scope="col">เอก</th>
							<th scope="col">สถานะ</th>
						  </tr>
						</thead>
						<tbody style="font-size: 15px;">
							{% for p in profile %}
						  <tr>
							<td>
								{% if p.photo %}
								<img class="member-img" src="{{ p.photo.url }}" width="50px">
								{% else %}
								<div class="member-logo-mgmt">
									<p>{{ p.user.first_name.0 | capfirst }}</p>
								</div>
								{% endif %}
							</td>
							<td>
								<a class="underline" href="/profile/{{ p.user.username }}">
									<p class="card-title">{{ p.user.get_full_name }}</p>
								</a>
							</td>
							<td>{{ p.get_major_display }}</td>
							<td>{{ p.get_userType_display }}</td>
						  </tr>
						  {% endfor %}
						</tbody>
					  </table>
				</div>
			</div>
			<!-- Content -->
		</div>
	</div>
</div>

{% endblock content %}