{% extends 'app/base.html' %}
{% block content %}

<div class="row">
	<div class="text-center mb-4">
		{% if major == 'all' %}
		<a class="btn btn-success" href="/online-course">คอร์สเรียนทั้งหมด</a>
		{% else %}
		<a class="btn btn-outline-success" href="/online-course">คอร์สเรียนทั้งหมด</a>
		{% endif %}

		{% if major == 'mdt' %}
		<a class="btn btn-success" href="/online-course/mdt">Media Technology</a>
		{% else %}
		<a class="btn btn-outline-success" href="/online-course/mdt">Media Technology</a>
		{% endif %}

		{% if major == 'dmt' %}
		<a class="btn btn-success" href="/online-course/dmt">Digital Media Technology</a>
		{% else %}
		<a class="btn btn-outline-success" href="/online-course/dmt">Digital Media Technology</a>
		{% endif %}

		{% if major == 'gdm' %}
		<a class="btn btn-success" href="/online-course/gdm">Game Development</a>
		{% else %}
		<a class="btn btn-outline-success" href="/online-course/gdm">Game Development</a>
		{% endif %}

		{% if major == 'mmi' %}
		<a class="btn btn-success" href="/online-course/mmi">Medical Media Innovation</a>
		{% else %}
		<a class="btn btn-outline-success" href="/online-course/mmi">Medical Media Innovation</a>
		{% endif %}
	</div>
		{% for c in allCourse %}
		{% if c.active %}
		<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 p-3">
			<div class="card card-height">
				<a href="{% url 'course' c.id %}"><img src="{{ c.courseThumbnail.url }}" class="imgThumbnail card-img-top" style="height: 280px;"></a>
				<div class="card-body">
					<div class="card-desc d-flex justify-content-between">
						<h5 class="card-title card-truncate"><a class="underline"
								href="{% url 'course' c.id %}">{{ c.courseTitle }}</a></h5>
						<div>
							{% if c.courseRating %}
							<i class="far fa-star" style="font-size: 16px;"> {{ c.courseRating }}</i>
							{% else %}
							<i class="far fa-star" style="font-size: 16px;"> 0</i>
							{% endif %}
							
							<i class="far fa-user" style="font-size: 16px;"> {{ c.courseTaken }}</i>
						</div>
					</div>

					<h6 class="card-subtitle mb-2 text-muted">{{ c.get_courseMajor_display }}</h6>
					<p class="card-text">{{ c.courseDesc | truncatechars_html:150 | safe }}</p>
				</div>
				<div class="card-footer d-flex align-items-center text-muted">
					{% if c.createBy.photo %}
					<img src="{{ c.createBy.photo.url }}" width="35" height="35" class="profilePic rounded-circle">
					{% else %}
					<div class="profile-logo-base">
						<p>{{ c.createBy.user.first_name.0 | capfirst }}</p>
					</div>
					{% endif %}
					<div class="px-2">
						{{ c.createBy.user.first_name }} {{ c.createBy.user.last_name.0 }}. | อัปเดต : {{ c.updateDate | date:"M d, y" }}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
</div>
{% endblock content %}