{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-between align-items-center">
	<div>
		<h4>{{quiz.name}}</h4>
		<p>Score to pass : {{quiz.requiredScore}}%</p>
	</div>
	<div id="timer-box"></div>
</div>

<a href="{% url 'quiz-main' %}" class="btn btn-danger">Go back</a>

<form id="quiz-form" class="my-3" action="">
	{% csrf_token %}
	<div id="quiz-box">
		
	</div>
	<button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<div class="quiz-container">
	
</div>

<div id="score-box"></div>
<div id="result-box"></div>

<script src="{% static "js/quiz.js" %}"></script>

{% endblock content%}