{% extends 'app/base.html' %}
{% block content %}

<div class="box p-5 mt-5">
	<p class="display-1 text-center">Sign Up</p>
	<form class="row" method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="col-sm-12">
			<label class="form-label">Username :</label>
			<input type="text" class="form-control" name="username" required />
		</div>
		<div class="col-sm-6">
			<label class="form-label">First name :</label>
			<input type="text" class="form-control" name="first-name" required />
		</div>
		<div class="col-sm-6">
			<label class="form-label">Last name :</label>
			<input type="text" class="form-control" name="last-name" required />
		</div>
		<div class="col-sm-8">
			<label class="form-label">Email :</label>
			<div class="input-group has-validation">
				<input type="text" class="form-control" name="email" required />
			</div>
		</div>
		<div class="col-sm-4">
			<label class="form-label">Tel :</label>
			<div class="input-group has-validation">
				<input type="tel" name="tel" class="form-control" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" maxlength="10" required>
			</div>
		</div>
		<div class="col-sm-8">
			<label class="form-label">Major :</label>
			<select class="form-select" name="major" required>
				<option selected disabled></option>
				<option value="Digital Media Technology">Digital Media Technology</option>
				<option value="Game Development">Game Development</option>
				<option value="Medical Media Innovation">Medical Media Innovation</option>
			</select>
		</div>
		<div class="col-md-4">
			<label class="form-label">Year :</label>
			<select class="form-select" name="year" required>
				<option selected disabled value=""></option>
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
			</select>
		</div>
		<div class="col-md-12">
			<label class="form-label">Password :</label>
			<input type="password" class="form-control" name="password" required />
		</div>
		<div class="input-group mt-3">
			<input type="file" class="form-control" name="profilePicUpload" id="profilePicUpload">
			<label class="input-group-text" for="profilePicUpload">Upload Image</label>
		</div>
		<div class="col-12 mt-3">
			<button class="btn btn-success" type="submit">Sign Up</button>
		</div>
	</form>	
</div>

{% endblock content%}