{% extends 'app/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div class="container border border-success rounded my-5">
	<div class="row">
		<!-- Sidebar -->
		{% include 'app/base-sidebar.html' %}
		<!-- Sidebar -->
		<!-- Content -->
		<div class="col-md-9 px-3">
			<p class="pt-3 fs-4">{{ sidebarTitile }}</p>
			<hr>
			<div class="row pb-3">
				<div class="col-sm-4 mt-5">
					<div class="d-flex flex-column align-items-center text-center">
						{% if user.profile.photo %}
						<img src="{{ user.profile.photo.url }}" class="profilePic rounded-circle" id="file-ip-1-preview"
							width="246px" height="246px">
						{% else %}
						<div class="profile-logo">
							<p id="alphabetLogo">{{ user.first_name.0 | capfirst }}</p>
							<img class="profilePic beforeUpload rounded-circle" id="file-ip-1-preview" width="246px"
								height="246px">
						</div>
						{% endif %}
						<div class="mt-3">
							<h4>{{ user.get_full_name }}</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-8 mt-5">
					<div class="row">
						<div class="col-sm-3 d-flex justify-content-start align-items-center">
							<h6 class="mb-0">ชื่อจริง</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							{{ user.get_full_name }}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-3 d-flex justify-content-start align-items-center">
							<h6 class="mb-0">อีเมล</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							{{ user.email }}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-3 d-flex justify-content-start align-items-center">
							<h6 class="mb-0">โทรศัพท์</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							{% if user.profile.tel %}
							{{ user.profile.tel }}
							{% else %}
							-
							{% endif %}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-3 d-flex justify-content-start align-items-center">
							<h6 class="mb-0">คณะ</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							{{ user.profile.major }}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-3 d-flex justify-content-start align-items-center">
							<h6 class="mb-0">สถานะ</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							{{ user.profile.userType | capfirst }}
						</div>
					</div>
				</div>
					<form method="POST" id="formSave" enctype="multipart/form-data">
						<hr>
						{% csrf_token %}
						<div class="row pt-3">
							<div class="col-sm-4 d-flex justify-content-start align-items-center">
								<h6 class="mb-0">วิชาที่สนใจ</h6>
							</div>
							<div class="col-sm-8 text-secondary">
								<input type="text" class="form-control" name="interest" value="">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-4 d-flex justify-content-start align-items-center">
								<h6 class="mb-0">ประวัติการสอน / ผลงาน</h6>
							</div>
							<div class="col-sm-8 text-secondary">
								<input type="text" class="form-control" name="work" value="">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-4 d-flex justify-content-start align-items-center">
								<h6 class="mb-0">พอร์ตฟอลิโอ</h6>
							</div>
							<div class="col-sm-8 text-secondary">
								<input type="text" class="form-control" name="portfolio" value="">
							</div>
						</div>
					</form>
					<div class="d-flex justify-content-end mx-2 my-3">
						<button class="btn btn-success" type="submit" form="formSave">ส่งคำขอ</button>
					</div>
			</div>
		</div>
		<!-- Content -->
	</div>
</div>

{% endif %}
{% endblock content %}