{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="videoPlayer row">
	{% for v in video %}
	{% for l in lesson %}
	{% if v.lesson.id == l.id %}
	{% if v.id == vid %}
	<div class="col-sm-9">
		{% if v.video %}
		<video id="video" class="box" width="100%" controls>
			<source src="{{ v.video.url }}#t={{ videoResult.currentTime }}">
		</video>
		{% else %}
		<div id="ytplayer" class="box"></div>
		{% endif %}
	</div>
	{% endif %}
	{% endif %}
	{% endfor %}
	{% endfor %}

	<div class="col-sm-3 video-box" style="background-color: #F8F8F8;">
		<div class="videoPlayer-box">
			{% for l in lesson %}
			<a class="video-box btn btn-block p-3 mt-2" data-toggle="collapse" href="#collapseExample{{l.id}}" role="button"
				aria-expanded="false" aria-controls="collapseExample">
				<div class="d-flex justify-content-between align-items-center">
					<div class="video-title">
						{{ l.lessonTitle }}
					</div>
					<i class="fas fa-caret-down" style="color: #C4C4C4;"></i>
				</div>
			</a>
			<div class="collapse py-1" id="collapseExample{{ l.id }}">
				{% for v in video %}
				{% if v.lesson.id == l.id %}
				<div class="box-collapse">
					<p class="py-2 px-3 my-2"><a href="/video/{{cid}}/{{v.id}}">{{ v.videoTitle }}</a>
					</p>
				</div>
				{% endif %}
				{% endfor %}

				{% for q in quiz %}
				{% if q.lesson.id == l.id %}
				<div class="box-collapse">
					<p class="py-2 px-3 my-2">Quiz : <span class="modalbtn" data-pk="{{q.pk}}" data-quiz="{{q.name}}"
							data-question="{{q.numberOfQuestions}}" data-difficult="{{q.difficulty}}" data-time="{{q.time}}"
							data-pass="{{q.requiredScore}}" data-toggle="modal" data-target="#quizStartModal">
							{{q.name}}
						</span></p>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>

		<!-- Modal -->
		<div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Start ?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="modal-body-confirm">
						...
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						{% for q in quiz %}
						<a type="button" id="start-button" class="btn btn-success" href="/quiz/{{ q.id }}">Yes</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% for v in video %}
{% for l in lesson %}
{% if v.lesson.id == l.id %}
{% if v.id == vid %}
{% if v.video %}
<script src="{% static "js/videoPlayer.js" %}"></script>
{% else %}
<script>
	const url = window.location.href

	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	var player;
	function onYouTubePlayerAPIReady() {
		player = new YT.Player('ytplayer', {
			height: '100%',
			width: '100%',
			playerVars: {rel: 0, showinfo: 0, ecver: 2},
			events: {
				'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
			}
		});
	}

	function onPlayerReady(event) {
		player.loadVideoById({
			'videoId': '{{v.videoUrl}}',
			{% if videoResult %}
			{% for v in videoResult %}
			'startSeconds': {{ v.currentTime }}
			{% endfor %}
			{% endif %}
		});
	}

	function onPlayerStateChange(event) {
		console.log('player state change')
		curTime = player.playerInfo.currentTime.toFixed(0);

		console.log(event.data)

		data = {
			'curTime': curTime
		}

		if (event.data == 2) {
			$.ajax({
				type: 'GET',
				url: `${url}save`,
				data: data,
				success: function (response) {
					console.log('Data from Django : ', response)
					localStorage.setItem('username', response.username)
					localStorage.setItem('vdoID', response.vdoID)
					localStorage.setItem('curTime', response.curTime)
				},
				error: function (error) {
					console.log(error)
				}
			})
		}

		if (event.data == 0) {
			console.log('video ended')
			let endedText = 'Video ended'

			data = {
				'endedText': endedText
			}

			$.ajax({
				type: 'GET',
				url: `${url}end`,
				data: data,
				success: function (response) {
					console.log(response)
				},
				error: function (error) {
					console.log(error)
				}
			})
		}
	}
</script>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

<script src="{% static "js/quizMain.js" %}"></script>


{% endblock content %}