{% extends 'app/base.html' %}
{% block content %}

<div class="videoPlayer row">
	{% for v in video %}
	{% for l in lesson %}
	{% if v.lesson.id == l.id %}
		{% if v.id == vid %}
			<div class="col-sm-9">
				{% if v.video %}
				<video id="video" class="box" width="100%" controls>
					<source src="{{ v.video.url }}">
				</video>
				{% else %}
				<iframe class="box" width="960" height="540" src="https://www.youtube.com/embed/{{ v.videoUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				{% endif %}
			</div>
		{% endif %}
	{% endif %}
	{% endfor %}
	{% endfor %}

	<div class="col-sm-3 box" style="background-color: #F8F8F8; height: 540px;">
		{% for l in lesson %}
		<a class="box btn btn-block p-3 mt-2" data-toggle="collapse" href="#collapseExample{{l.id}}"
			role="button" aria-expanded="false" aria-controls="collapseExample">
			<div class="d-flex justify-content-between align-items-center">
				<div class="video-title">
					{{ l.course.courseTitle }} : {{ l.lessonTitle }}
				</div>
				 <i class="fas fa-caret-down" style="color: #C4C4C4;"></i>
			</div>
			
		</a>
		<div class="collapse py-1" id="collapseExample{{ l.id }}">
			{% for v in video %}
				{% if v.lesson.id == l.id %}
				<div class="box-collapse">
					<p class="py-2 px-3 my-2">{{ l.lessonTitle }} : <a href="/video/{{cid}}/{{v.id}}">{{ v.videoTitle }}</a></p>
				</div>
				{% endif %}
			{% endfor %}

			{% for q in quiz %}
				{% if q.lesson.id == l.id %}
				<div class="box-collapse">
					<p class="py-2 px-3 my-2">Quiz : <a href="">{{ q.name }}</a></p>
				</div>
				{% endif %}
			{% endfor %}
			
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}